{
    "irc":[
        {
            "server": "localhost",
            "port": 6667,
            "nick": "pyCoBot",
            "prefix": "-",
            "autojoin":[
                "#cobot",
                "#co2"
            ],
            "modules":[
                "test",
                "m_modules"
            ]
        },
        {
            "server": "irc.freenode.net",
            "port": 6667,
            "nick": "pyCoBot-dev",
            "prefix": "$",
            "autojoin":[
                "#cobot",
                "#algo"
            ],
            "modules":[
                "test"
            ]
        }
    
    ]
}
