{
    "irc":[
        {
            "server": "localhost",
            "port": 6667,
            "nick": "pyCoBot",
            "prefix": "-",
            "autojoin":[
                "#cobot",
                "#co2"
            ],
            "modules":[
                "test",
                "m_modules",
                "joinpart"
            ],
            "moduleconf":{
                "nickserv": {
                    "user": "",
                    "password": ""
                }
            }
        },
        {
            "server": "irc.freenode.net",
            "port": 6667,
            "nick": "pyCoBot-dev",
            "prefix": "$",
            "autojoin":[
                "#cobot",
                "#algo"
            ],
            "modules":[
                "test"
            ]
        }
    
    ],
    "db":{
        "uri": "sqlite://db/cobot.db"
    },
    "modulerepos": [
        {
            "location": "irc-CoBot/pyCoBot",
            "autodownload": true
        }
    ],
    "config": {
        "loglevel": "info",
        "logfile": "bot.log"
    },
    "moduleconf":  {
    
    }
}
