{
    "modulerepos": [
        {
            "location": "irc-CoBot/pyCoBot", 
            "autodownload": true
        }
    ], 
    "irc": {
        "freenode": {
            "channels": {
                "#cobot-test": {
		    "notices": false		
		}, 
                "#cobot": {
                    "overridemainprefix": true, 
                    "prefix": ["@", "!"]
                }
            }, 
            "modules": [
                "test", 
                "m_modules", 
                "games", 
                "authadd", 
                "calc"
            ], 
            "server": "irc.freenode.net", 
            "moduleconf": {
                "nickserv": {
                    "password": "algoalgo", 
                    "user": "algoalgo"
                }
            }, 
            "nick": "pyCoBot", 
            "prefix": "-", 
            "port": 6667, 
        }
    }, 
    "config": {
        "loglevel": "debug", 
        "logfile": ""
    }
}
